<h1><%= @style.name %></h1>
<p><%= @style.desc %></p>
<p>
  <% if @style.ratings.empty? %>
      Style has not been rated!
<% else %>
      Has <%= pluralize(@style.ratings.count, 'rating', 'ratings') %>, average <%= round @style.average_rating %>
<% end %>
</p>
<strong>Beers</strong>
<ul class="list-group">
  <% @style.beers.each do |beer| %>
      <li class="list-group-item"><%= link_to beer.name, beer %> by <%= link_to beer.brewery.name, beer.brewery %></li>
  <% end %>
</ul>
<%= edit_and_destroy_buttons(@style, styles_path) %>

